<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light col-sm-12">
    <span class="navbar-brand mb-0 h1"><%= (typeof title != "undefined") ? title : "ChatBx" %></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chats">Chats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/emoji">Emoji</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-10 order-2 dual-collapse2 center" id="navbar">
        <% if(!isAuthenticated) { %>
            <a class="btn btn-outline-secondary" href="/login">Login</a>
        <% } else { %>
            <a class="btn btn-outline-secondary" href="/logout">Logout</a>
        <% } %>
    </div>
</nav>