<div class="menu">
    <a href="/" class="btn btn-link">Home</a>
    <a href="/chats" class="btn btn-link">Chats</a>
    <a href="/emoji" class="btn btn-link">Emoji</a>
    <a href="/about" class="btn btn-link">About</a>
    <a href="/users" class="btn btn-link">Users</a>
</div>