<!DOCTYPE html>
<html>
    <head>
        <title>Chat <%= title %></title>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="icon" href="/img/favicon.png" sizes="any" type="image/png" />
        <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
        <script src='/js/jquery.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src='/js/chat.js'></script>
        <script src='/js/script.js'></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="page-head">
                <%- include partials/menu %>
            </div>
            <div class="row">
                <div id="chatroom" class="container-fluid msgcontainer">
                    <!-- all messages -->
                </div>
                <div id="infocard" class="container-fluid">
                    <h5 class="infocard-header"><b id="chatter_amount"></b> chatters online:</h5>
                    <div id="chatters">
                        <!-- all chatters -->
                    </div>
                </div>
            </div>
            <div class="row" id="buttons">
                <div class="col-sm-12 form-inline">
                    <div class="container-fluid">
                        <div class="row" id="control">
                            <div class="input-group mb-3 col-sm-11">
                                <div class="input-group-prepend">
                                    <button id="settings" class="btn input-group-text"><i class="fas fa-cog"></i></button>
                                </div>
                                <input type="text" id="message" class="form-control fullwidth" placeholder="text" />
                            </div>
                            <button id="send_message" class="btn btn-outline-primary col-sm-1 fullwidth" type="button">Send</button>
                        </div>
                        <div class="row">
                            <i id="typing" class="text-muted col-sm-12"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="settingsModal" title="Settings">
            <div class="form-group">
                <label for="theme">Theme:</label>
                <select class="form-control" id="theme">
                    <option value="light" selected="selected">light</option>
                    <option value="dark">Dark</option>
                </select>
            </div>
            <%- include partials/loginModal %>
        <script>
            const socket = io.connect($(location).attr("origin"));
            socket.chatId = '<%- chatId %>';
        </script>
    </body>
</html>