<!DOCTYPE html>
<html>
    <head>
        <title>ChatBx</title>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="icon" href="/img/favicon.png" sizes="any" type="image/png" />
        <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
        <script src='/js/jquery.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src='/js/script.js'></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="page-head">
                <h1 id="title">ChatBx</h1>
                <button class="btn btn-login" onclick="$('#login').dialog('open');">Login</button>
            </div>
        </div>
        <%- include partials/loginModal %>
    </body>
</html>