<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- include partials/head %>
    </head>
    <body>
        <div class="container-fluid contents" id="pageContainer">
            <div class="forms row">
                <div class="container-fluid">
                    <div class="row formcontainer">
                        <div class="col-sm-12 login">
                            <div>
                                <form action="/login" method="post">
                                    <h2>login</h2>
                                    <div class="form-group">
                                        <label for="loginUsername">Username</label>
                                        <input type="text" name="username" class="form-control" placeholder="Username" />
                                        <small class="form-text text-muted">Your username</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="loginPass">Password</label>
                                        <input type="password" name="password" class="form-control" placeholder="Password" />
                                        <small class="form-text text-muted">Your password</small>
                                    </div>
                                    <input class="btn btn-success" type="submit" value="Login"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include partials/scrollToTop %>
        <%- include partials/scripts %>
        <script>
            const socket = io.connect($(location).attr("origin"));
        </script>
    </body>
</html>